@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
    font-family: "Space Grotesk", sans-serif;
}

body {
    max-width: 1560px;
    margin: 0 auto;
    padding: 30px 100px 0 100px;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.125rem;
}

.topic-description {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 140px 0 80px 0;
}

.topic {
    padding: 0 7px;
    background-color: #B9FF66;
    display: inline-block;
    border-radius: 7px;
}

.topic-sub {
    width: 592px;
}

.btn a {
    background-color: #191A23;
    display: inline-block;
    padding: 20px 35px;
    border-radius: 14px;
    color: #ffffff;
    border: 1px solid #191A23;
 }

 .btn a:hover {
    background-color: #B9FF66;
    color: #191A23;
    transition: 0.3s;
 }

