@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
    font-family: "Space Grotesk", sans-serif;
}

body {
    max-width: 1560px;
    margin: 0 auto;
    padding: 30px 100px 70px 100px;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.125rem;
}