.footer {
    background-color: #191a23;
    border-radius: 45px 45px 0 0;
    padding: 55px 60px 50px 60px;
    color: #FFFFFF;
    font-weight: 300;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-responsive-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 50px;
}

.align {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-logo,
.footer-nav ul,
.social-media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 29px;
    height: 29px;
}

.footer-nav ul {
    list-style: none;
    gap: 40px;
}

.footer-nav ul li a:hover,
.social-media a:hover {
    text-decoration: underline;
    transition: 0.3s;
    background-color: transparent;
}


.footer-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 185px;
    margin-bottom: 50px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-title {
    width: 126px;
    display: inline-block;
    padding: 3px 7px;
    background-color: #B9FF66;
    border-radius: 7px;
    margin-bottom: 7px;
    font-weight: 700;
    color: black;
}

.footer-subscribe {
    background-color: #292a32;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 58px 40px;
    width: 634px;
    height: 184px;
    border-radius: 14px;
}

.footer-subscribe .email {
    background-color: #292a32;
    color: #FFFFFF;
    padding: 22px 0;
    border-radius: 14px;
    flex: 1;
}

.footer-subscribe .email::placeholder {
    padding-left: 35px;
}

.footer-subscribe .subscribe-btn a {
    background-color: #B9FF66;
    padding: 20px 35px;
    border-radius: 14px;
    border: 1px #B9FF66 solid;
    color: black;
    flex: 1;
}

.footer-subscribe .subscribe-btn a:hover {
    background-color: #292a32;
    color: #FFFFFF;
    transition: 0.3s;
}

.footer-copy {
    display: flex;
    padding-top: 50px;
    gap: 40px;
    width: 100%;
    border-top: 1px solid white;
}

.footer-copy a:hover {
    text-decoration: underline;
    transition: 0.3s;
    background-color: transparent;
}

@media (max-width: 1200px) {
    
    .footer-responsive-nav {
        flex-direction: column;
        align-items: flex-end;
    }

    .footer-nav ul,
    .social-media {
        flex-direction: column;
        padding-left: 0;
    }

    .footer-head {
        align-items: flex-start;
    }

    .footer-infos {
        position: relative;
        background-color: red;
        max-width: 800px;
        justify-content: space-between;
        bottom: 200px;
        margin-bottom: -150px;
    }

    .footer-subscribe {
        flex-direction: column;
        gap: 60px;
        width: 300px;
        height: 200px;
        padding: 20px 20px 80px 20px;
    }

}

@media (max-width: 1040px) {
    .footer-infos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        gap: 50px;
    }
}