.footer {
    background-color: #191a23;
    border-radius: 45px 45px 0 0;
    padding: 55px 60px 50px 60px;
    color: #FFFFFF;
    font-weight: 300;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-logo, .footer-nav ul, .social-media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 29px;
    height: 29px;
}

.footer-nav ul {
    list-style: none;
    gap: 40px;
}

.footer-nav ul li a:hover,
.social-media a:hover {
    text-decoration: underline;
    transition: 0.3s;
    background-color: transparent;
}
