.header {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-header .logo {
    display: flex;
    gap: 15px;
}

.header-header .nav-list {
    display: flex;
    gap: 40px;
    font-size: 1.25rem;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.header .menu-icon {
    width: 40px;
    height: 40px;
    display: none;
    z-index: 1001;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        transition: opacity 0.3s ease;
    }
}

.menu-icon:hover img {
    opacity: 0.7;
}


.header-header .nav-list a {
    border-radius: 14px;
    padding: 3px 8px;
    display: inline-block;
}

.header-header .nav-list .btn {
    padding: 20px 35px;
    border: 1px solid #191A23;
    border-radius: 14px;
}

.header-header .nav-list .btn:hover,
a:hover {
    background-color: #B9FF66;
    transition: 0.3s;
}

.header .hero {
    display: flex;
    justify-content: space-between;
}

.header .hero .landing {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header .hero .hero-subtitle {
    line-height: 1.6;
    font-size: 1.25rem;
}

.header .hero .hero-banner {
    height: 515px;
    align-self: center;
}


.header .enterprises-logos {
    display: flex;
    justify-content: space-between;
}

.header .enterprises-logos img {
    cursor: pointer;
}

@media (max-width: 1380px) {
    .header-header .nav-container {
        position: fixed;
        background-color: #f3f3f3ee;
        top: 0;
        right: -100%;
        flex-direction: column;
        gap: 2rem;
        width: 300px;
        padding: 60px 20px 0 20px;
        margin-top: 30px;
        border-radius: 14px;
        transition: right 0.3 ease;
    }

    .nav-container .nav-list {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }


    .header .menu-icon {
        display: block;
        position: relative;
        right: 0;
    }

    .menu-toggle:checked ~ .nav-container {
        right: 80px;
    }

}

@media (max-width: 1160px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .enterprises-logos {
        flex-wrap: wrap;
        gap: 20px;
    }
}

