.header {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-header .logo {
    display: flex;
    gap: 15px;
}

.header-header .nav-list {
    display: flex;
    gap: 40px;
    font-size: 1.25rem;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.header .menu-icon {
    background-color: red;
    width: 40px;
    height: 40px;
    display: none;
    z-index: 1001;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        transition: opacity 0.3s ease;
    }
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media (max-width: 1380px) {
    .header-header .nav-list {
        background-color: red;
        position: relative;
        right: -100dvw;
    }

    .header .menu-icon {
        display: inline-block;
        position: fixed;
        right: 100px;
    }

    
}

.header-header .nav-list a {
    border-radius: 14px;
    padding: 3px 8px;
    display: inline-block;
}

.header-header .nav-list .btn {
    padding: 20px 35px;
    border: 1px solid #191A23;
    border-radius: 14px;
}

.header-header .nav-list .btn:hover,
a:hover {
    background-color: #B9FF66;
    transition: 0.3s;
}

.header .hero {
    display: flex;
    justify-content: space-between;
}

.header .hero .landing {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header .hero .hero-subtitle {
    line-height: 1.6;
    font-size: 1.25rem;
}

.header .hero .hero-banner {
    height: 515px;
    align-self: center;
}


.header .enterprises-logos {
    display: flex;
    justify-content: space-between;
}

.header .enterprises-logos img {
    cursor: pointer;
}